* {
  margin: 0;
}

.wrapper-login {
  display: flex;
  justify-content: space-between;
}

.imagem {
  width: calc(100% - 480px);
}

.imagemlogin {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(75%);
  display: block;
}

.login {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.conecte {
  position: relative;
  top: 40px;

}

.titulo {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #4DBBFF;
}

.conecte {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #9F9F9F;
}

.acessos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  height: 300px;
}

.logingoogle {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  display: flex;
  background-color: #ffffff;
  width: 330px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 100px;
  cursor: pointer;
}

.icongoogle{
  width: 23px;
  height: 23px;
  margin-right: 5px;
}


.logingoogle:hover {
  background-color: azure;
}

.logingoogle:active {
  background-color: azure;
  border: 1px solid #4DBBFF;
  color: #4DBBFF;
}

.loginapple {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 330px;
  height: 48px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 100px;
  cursor: pointer;
}

.iconapple {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

.loginapple:hover {
  background-color: azure;
}

.loginapple:active {
  background-color: azure;
  border: 1px solid #4DBBFF;
  color: #4DBBFF;
}

.loginemail {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 330px;
  height: 48px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 100px;
  cursor: pointer;
}

.iconemail {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

.loginemail:hover {
  background-color: azure;
}

.loginemail:active {
  background-color: azure;
  border: 1px solid #4DBBFF;
  color: #4DBBFF;
}


.semconta {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.link:hover {
  color: #4DBBFF;
}